$main-color: #fbc93e;
$text-light: #4f4e4d;
$text-dark: #373737;
$bg-color: #f4f2e5;
$main-font: "Lato", sans-serif;
$text-font: "Neucha", cursive;

@import "variables";
@import "hero";
@import "titel";
@import "verpraaksaam";
@import "articles";
@import "team";
@import "footer";
